<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.school.mapper.QrMapper">

    <select id="dyGetQrList" parameterType="com.example.school.dto.QrSelectDTO" resultType="com.example.school.vo.QrVO">
        SELECT t_qr.pip,t_qr.ctype,t_qr.photo,t_qr.create_time,t_qr.remark,COUNT(t_qr.id = t_access.qr_id) Clock
        FROM t_qr
        JOIN t_access ON t_qr.id = t_access.qr_id
        <where>
            <if test="qrSelectDTO.pip != '' and qrSelectDTO.pip !=  null">
                AND
                pip LIKE CONCAT('%', CONCAT(#{qrSelectDTO.pip}, '%'))
            </if>

            <if test="qrSelectDTO.ctype != '' and qrSelectDTO.ctype !=  null">
                AND
                ctype LIKE CONCAT('%', CONCAT(#{qrSelectDTO.ctype}, '%'))
            </if>

            <if test="qrSelectDTO.airTime !=  null">
                AND
                t_qr.create_time &gt;= #{qrSelectDTO.airTime}
            </if>

            <if test="qrSelectDTO.stopTime !=  null">
                AND
                t_qr.create_time &lt;= #{qrSelectDTO.stopTime}
            </if>
        </where>
           GROUP BY qr_id
    </select>
</mapper>
